@model InspurOA.Models.Resume
@using InspurOA.Models
@{
    ViewBag.Title = "上传简历";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<style type="text/css">
    .div-group {
        position:relative;
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-bottom:20px;
        box-sizing: border-box;
        content: normal;
        clear: none;
        line-height: 19.99px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSelectDoc").click(function () {
            $("input[name='file']").click();
        });
        $("input[name='file']").change(function () {
            if (event.target.files.length > 0) {
                var fileList = $("div[name='fileList']");
                fileList.css('display', 'inline-block');
                fileList.empty();
                for (var i = 0; i < event.target.files.length; i++) {
                    fileList.append("<div style='float:left;' class='col-md-12'><span>" + event.target.files[i].name + "</span></div>");
                }
            }
        });
    });
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<h2>@ViewBag.Title</h2>
@Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
<hr />

<div style="margin-left:auto;margin-right:auto;max-width:400px;box-sizing:border-box;">
    @using (Html.BeginForm("UploadResume", "Resume", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <label class="col-md-4 control-label">语言类型：</label>
            <div class="col-md-8">
                <select name="languageType" class="form-control">
                    <option value="中文">中文</option>
                    <option value="English">English</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">网站来源：</label>
            <div class="col-md-8">
                <select name="sourceSite" class="form-control">
                    <option value="ZL">智联招聘</option>
                    <option value="WY">前程无忧</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">所属项目：</label>
            <div class="col-md-8">
                <select name="projectName" class="form-control">
                    @{
                        if (ViewData["Projects"] != null)
                        {
                            var projects = ViewData["Projects"] as List<ProjectModel>;
                            foreach (var item in projects)
                            {
                                <option value="@item.ProjectName">@item.ProjectName</option>
                            }
                        }

                    }
                </select>
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-md-4 control-label">岗位名称：</label>
            <div class="col-md-8">
                <select name="postName" class="form-control">
                    <option value=".Net Web开发">.Net Web开发</option>
                    <option value="Java开发">Java开发</option>
                    <option value="软件测试">软件测试</option>
                    <option value="软件开发测试">软件开发测试</option>
                </select>
            </div>
        </div>*@
        <div class="form-group">
            <label class="col-md-4 control-label">文档：</label>
            <div class="col-md-8">
                <input type="button" id="btnSelectDoc" value="选择简历..." class="form-control" />
                <input type="file" name="file" style="height:30px;width:100%;float:right;display:none;" multiple="multiple" /> @**@
            </div>
        </div>
        <div class="form-group">
            <div name="fileList" class="col-md-8 col-md-offset-4" style="max-height:200PX;overflow:auto;">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <input type="submit" id="BtnUpload" class="form-control btn btn-primary" value="上传" />
            </div>
        </div>
    }
</div>

