@model InspurOA.Web.Models.ResumeViewModel
@using InspurOA.Web.Models
@{
    ViewBag.Title = "简历信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    dd {
        margin-bottom: 10px;
    }
</style>

<div class="row top-row">
    <div class="col-md-4 left" style="float:left;">
        <span class="caption">@ViewBag.Title</span>
    </div>
    <div class="col-md-8 right" style="float:right;">
        @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
<hr />
<div>
    <input type="hidden" name="ResumeId" value="@Model.Id" />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInformation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CareerObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareerObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelfAssessment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelfAssessment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certificates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certificates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HonorsandAwards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HonorsandAwards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolPractice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolPractice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Training)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessionalSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceSite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            <span name="ProjectNameValue">@Html.DisplayFor(model => model.ProjectName)</span>
            <input type="button" name="BtnChangeProject" value="修改" class="btn-xs btn-primary" style="margin-left:20px;" />
        </dd>
        <dt></dt>
        <dd>
            <div class="row" data-name="ChangeProject" style="display:none;">
                <select name="projectName" class="common-control col-md-5">
                    @{
                        if (ViewData["Projects"] != null)
                        {
                            var projects = ViewData["Projects"] as List<ProjectViewModel>;
                            foreach (var item in projects)
                            {
                                <option value="@item.ProjectName">@item.ProjectName</option>
                            }
                        }
                    }
                </select>
                <input type="button" name="BtnSaveProject" value="保存" class="btn-sm btn-primary" />
                <input type="button" name="BtnCancelProject" value="取消" class="btn-sm btn-primary" />
            </div>
        </dd>
    </dl>
</div>
<hr />

<div class="row top-row">
    <div class="col-md-4 left" style="float:left;">
        <span class="caption">面试反馈</span>
    </div>
    <div class="col-md-8 right" style="float:right;">
        <input type="button" name="AddComment" value="添加面试反馈" class="btn btn-primary" />
        <input type="button" name="HideCreatePart" value="隐藏" class="btn btn-primary" style="display:none;" /> |
        <input type="button" name="DeleteComment" value="删除反馈信息" class="btn btn-danger" />
    </div>
</div>
<div class="row">
    <div data-name="CreatePart" class="col-md-12 form-horizontal" style="display:none;margin-top:30px;">
        <div class="form-group">
            <label class="col-md-2 control-label">岗位名称</label>
            <div class="col-md-4">
                <input type="text" name="PostName" class="form-control" />
            </div>
            <label class="col-md-2 control-label">面试日期</label>
            <div class="col-md-4">
                <input type="text" id="dateinfo" name="InterviewDate" placeholder="请选择日期" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">面试反馈</label>
            <div class="col-md-9">
                <textarea name="InterviewFeedBack" class="common-control col-md-12" rows="2"></textarea>
            </div>
            <div class="col-md-1">
                <input type="button" name="BtnSaveComment" value="提交" class="btn btn-primary col-md-12" />
            </div>
        </div>
    </div>
</div>
<div id="ListComment" class="table-responsive" style="margin-bottom:30px;">
    <table class='table table-bordered table-hover'>
        <thead>
            <tr class="danger">
                <th>                    
                </th>
                <th>岗位名称</th>
                <th>面试日期</th>
                <th>面试反馈</th>
                <th>反馈日期</th>
                <th>反馈者</th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript" src="~/Scripts/jedate/jedate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var LoadComment = function () {
            var resumeId = $("input[name='ResumeId']").val();
            if (resumeId == undefined || resumeId == "") {
                alert("错误！");
                return;
            }

            var data = { "ResumeId": resumeId };
            $("#ListComment").html("");
            $.ajax({
                type: "post",
                url: "../ResumeComment/ListResumeComments",
                data: data,
                dataType: "json",
                success: function (result) {
                    var tbodyInnerHtml = "";
                    tbodyInnerHtml += "<table class='table table-bordered table-hover'>";
                    tbodyInnerHtml += "<thead>";
                    tbodyInnerHtml += "<tr class='danger'>";
                    tbodyInnerHtml += "<th>";
                    tbodyInnerHtml += "</th>";
                    tbodyInnerHtml += "<th>";
                    tbodyInnerHtml += "岗位名称";
                    tbodyInnerHtml += "</th>";
                    tbodyInnerHtml += "<th>";
                    tbodyInnerHtml += "面试日期";
                    tbodyInnerHtml += "</th>";
                    tbodyInnerHtml += "<th>";
                    tbodyInnerHtml += "面试反馈";
                    tbodyInnerHtml += "</th>";
                    tbodyInnerHtml += "<th>";
                    tbodyInnerHtml += "反馈日期";
                    tbodyInnerHtml += "</th>";
                    tbodyInnerHtml += "<th>";
                    tbodyInnerHtml += "反馈者";
                    tbodyInnerHtml += "</th>";
                    tbodyInnerHtml += "</tr>";
                    tbodyInnerHtml += "</thead>";
                    tbodyInnerHtml += "<tbody>";
                    if (result != undefined && result.length > 0) {                     
                        for (var i = 0; i < result.length; i++) {
                            tbodyInnerHtml += "<tr>";
                            tbodyInnerHtml += "<td>";
                            tbodyInnerHtml += "<input type='checkbox' name='ID' value='" + result[i].Id + "' />";
                            tbodyInnerHtml += "</td>";
                            tbodyInnerHtml += "<td>";
                            tbodyInnerHtml += result[i].PostName;
                            tbodyInnerHtml += " </td>";
                            tbodyInnerHtml += "<td>";
                            tbodyInnerHtml += result[i].InterviewDate;
                            tbodyInnerHtml += " </td>";
                            tbodyInnerHtml += "<td>";
                            tbodyInnerHtml += result[i].InterviewFeedBack;
                            tbodyInnerHtml += " </td>";
                            tbodyInnerHtml += "<td>";
                            tbodyInnerHtml += result[i].FeedBackTime;
                            tbodyInnerHtml += " </td>";
                            tbodyInnerHtml += "<td>";
                            tbodyInnerHtml += result[i].UserName;
                            tbodyInnerHtml += " </td>";
                        }
                    }

                    tbodyInnerHtml += "</tbody>";
                    tbodyInnerHtml += "</table>";
                    $("#ListComment").html(tbodyInnerHtml);
                },
                error: function (errorMessage) {
                    alert("加载失败！");
                    //alert(ex.responseText);
                }
            });
        }

        LoadComment();

        $("input[name='AddComment']").click(function () {
            $("div[data-name='CreatePart']").toggle();
            $("input[name='AddComment']").toggle();
            $("input[name='HideCreatePart']").toggle();
        });

        $("input[name='HideCreatePart']").click(function () {
            $("div[data-name='CreatePart']").toggle();
            $("input[name='AddComment']").toggle();
            $("input[name='HideCreatePart']").toggle();
        });

        $("input[name='DeleteComment']").click(function () {
            var checkedList = $("input[name='ID']");
            var selectedIds = [];
            for (var i = 0; i < checkedList.length; i++) {
                if (checkedList[i].checked) {
                    selectedIds.push(checkedList[i].value);
                }
            }

            if (selectedIds.length > 0) {
                if (confirm("确认删除?")) {
                    $.ajax({
                        type: "post",
                        url: "../ResumeComment/Delete",
                        data: { 'ids': selectedIds },
                        dataType: "json",
                        success: function (result) {
                            LoadComment();
                        },
                        error: function (ex) {
                            LoadComment();
                            //alert(ex.responseText);
                        }
                    });
                }
            }
            else {
                alert("请选择要删除的列表项！");
            }
        });

        $("input[name='BtnSaveComment']").click(function () {
            var resumeId = $("input[name='ResumeId']").val();
            var postName = $("input[name='PostName']").val();
            var interviewDate = $("input[name='InterviewDate']").val();
            var interviewFeedBack = $("textarea[name='InterviewFeedBack']").val();

            if (resumeId == undefined || resumeId == "") {
                alert("发生错误，将新页面！");
                window.location.reload();
                return;
            }

            if (postName == undefined || postName == "") {
                alert("请输入‘岗位名称’");
                return;
            }

            if (interviewDate == undefined || interviewDate == "") {
                alert("请输入‘面试日期’");
                return;
            }

            if (interviewFeedBack == undefined || interviewFeedBack == "") {
                alert("请输入‘面试反馈’");
                return;
            }

            var data = { "ResumeId": resumeId, "postName": postName, "interviewDate": interviewDate, "interviewFeedBack": interviewFeedBack };
            $.ajax({
                type: "post",
                url: "../ResumeComment/Create",
                data: data,
                dataType: "json",
                success: function (result) {
                    $("input[name='PostName']").val("");
                    //$("input[name='InterviewDate']").val("");
                    $("textarea[name='InterviewFeedBack']").val("");
                    $("div[data-name='CreatePart']").toggle();
                    $("input[name='AddComment']").toggle();
                    $("input[name='HideCreatePart']").toggle();
                    LoadComment();
                },
                error: function (errorMessage) {
                    alert(ex.responseText);
                }
            });
        });

        $("input[name='BtnChangeProject']").click(function () {
            $("div[data-name='ChangeProject']").toggle();
            $("input[name='BtnChangeProject']").toggle();
        });

        $("input[name='BtnSaveProject']").click(function () {
            var resumeId = $("input[name='ResumeId']").val();
            var projectName = $("select[name='projectName']").val();
            if (resumeId == undefined || resumeId == "" || projectName == undefined || projectName == "") {
                alert("异常！ResumeId或者ProjectName获取不到！");
                return;
            }

            var data = { "resumeId": resumeId, "projectName": projectName };

            $.ajax({
                type: "post",
                url: "../Resume/ChangeProjectName",
                data: data,
                dataType: "json",
                success: function (result) {
                    $("div[data-name='ChangeProject']").toggle();
                    $("input[name='BtnChangeProject']").toggle();
                    $("span[name='ProjectNameValue']").text(projectName);
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        });

        $("input[name='BtnCancelProject']").click(function () {
            $("div[data-name='ChangeProject']").toggle();
            $("input[name='BtnChangeProject']").toggle();
        });

        jeDate({
            dateCell: "#dateinfo",
            format: "YYYY-MM-DD hh:mm:ss",
            isinitVal: true,
            isTime: true, //isClear:false,
            minDate: "1990-01-01 00:00:00"//,
            //okfun: function (val) { alert(val) }
        });
    });
</script>
