@model IEnumerable<InspurOA.Models.Resume>

@{
    ViewBag.Title = "简历管理";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<style type="text/css">
    th {
        text-align: center;
        border: 2px solid;
    }

    td {
        border-left: 1px dashed;
        border-right: 1px dashed;
        border-top: 2px solid;
        border-bottom: 2px solid;
        font-size: 12px;
        height: 30px;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    });
</script>

<div class="col-sm-9">
    @Html.ActionLink("上传简历", "Create", null, new { @class = "btn btn-primary" })
</div>

<div class="col-sm-3">
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索</button>
        </span>
    </div>
</div>
<div style="width:100%;height:calc(100% - 100px);overflow:auto;border:1px solid;border-radius:4px;margin-top:3px;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareerObjective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfAssessment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @if (@Html.DisplayFor(modelItem => item.PersonalInformation).ToHtmlString().Length > 50)
                    {
                        @Html.DisplayFor(modelItem => item.PersonalInformation).ToHtmlString().Substring(0, 50)
                        <button type="button" class="btn btn-primary btn-xs" title="详细信息"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-content="@Html.DisplayFor(modelItem => item.PersonalInformation)">
                            ...
                        </button>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.PersonalInformation).ToHtmlString().Substring(0, @Html.DisplayFor(modelItem => item.PersonalInformation).ToHtmlString().Length)
                    }
                </td>
                <td>
                    @if (@Html.DisplayFor(modelItem => item.CareerObjective).ToHtmlString().Length > 50)
                    {
                        @Html.DisplayFor(modelItem => item.CareerObjective).ToHtmlString().Substring(0, 50)
                        <button type="button" class="btn btn-primary btn-xs" title="详细信息"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-content="@Html.DisplayFor(modelItem => item.CareerObjective)">
                            ...
                        </button>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.CareerObjective).ToHtmlString().Substring(0, @Html.DisplayFor(modelItem => item.CareerObjective).ToHtmlString().Length)
                    }
                </td>
                <td>
                    @if (@Html.DisplayFor(modelItem => item.SelfAssessment).ToHtmlString().Length > 50)
                    {
                        @Html.DisplayFor(modelItem => item.SelfAssessment).ToHtmlString().Substring(0, 50)
                        <button type="button" class="btn btn-primary btn-xs" title="详细信息"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-content="@Html.DisplayFor(modelItem => item.SelfAssessment)">
                            ...
                        </button>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.SelfAssessment).ToHtmlString().Substring(0, @Html.DisplayFor(modelItem => item.SelfAssessment).ToHtmlString().Length)
                    }
                </td>
                <td>
                    @if (@Html.DisplayFor(modelItem => item.WorkExperience).ToHtmlString().Length > 50)
                    {
                        @Html.DisplayFor(modelItem => item.WorkExperience).ToHtmlString().Substring(0, 50)
                        <button type="button" class="btn btn-primary btn-xs" title="详细信息"
                                data-container="body" data-toggle="popover" data-placement="left"
                                data-content="@Html.DisplayFor(modelItem => item.WorkExperience)">
                            ...
                        </button>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.WorkExperience).ToHtmlString().Substring(0, @Html.DisplayFor(modelItem => item.WorkExperience).ToHtmlString().Length)
                    }
                </td>
                <td>
                    @if (@Html.DisplayFor(modelItem => item.ProjectExperience).ToHtmlString().Length > 50)
                    {
                        @Html.DisplayFor(modelItem => item.ProjectExperience).ToHtmlString().Substring(0, 50)
                        <button type="button" class="btn btn-primary btn-xs" title="详细信息"
                                data-container="body" data-toggle="popover" data-placement="left"
                                data-content="@Html.DisplayFor(modelItem => item.ProjectExperience)">
                            ...
                        </button>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ProjectExperience).ToHtmlString().Substring(0, @Html.DisplayFor(modelItem => item.ProjectExperience).ToHtmlString().Length)
                    }
                </td>
                <td>
                    @if (@Html.DisplayFor(modelItem => item.Education).ToHtmlString().Length > 50)
                    {
                        @Html.DisplayFor(modelItem => item.Education).ToHtmlString().Substring(0, 50)
                        <button type="button" class="btn btn-primary btn-xs" title="详细信息"
                                data-container="body" data-toggle="popover" data-placement="left"
                                data-content="@Html.DisplayFor(modelItem => item.Education)">
                            ...
                        </button>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Education).ToHtmlString().Substring(0, @Html.DisplayFor(modelItem => item.Education).ToHtmlString().Length)
                    }
                </td>
            </tr>
        }

    </table>
</div>