@model InspurOA.Models.UserDetailViewModel

@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户信息</h2>
<p>
    @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("修改", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<div>
    <hr />
    <div class="form-horizontal div-md">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.DisplayFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.DisplayFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.DisplayFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RoleCode, new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.DisplayFor(m => m.RoleCode, new { @class = "form-control" })
            </div>
        </div>
    </div>   
</div>