@model InspurOA.Models.UserDetailViewModel

@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户信息</h2>
<p>
    @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("修改", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<div>
    <hr />
    <div class="form-horizontal div-md">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RoleName, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.RoleName, new { @class = "form-control" })
            </div>
        </div>
    </div>

    @*<dl class="dl-horizontal div-md">
        <dt>
            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName, new { @class = "control-label form-control" })
        </dd>

        <dt>
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email, new { @class = "control-label" })
        </dd>

        <dt>
            @Html.LabelFor(model => model.RoleName, new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName, new { @class = "control-label" })
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailConfirmed)
            </dd>

        <dt>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecurityStamp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecurityStamp)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TwoFactorEnabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockoutEndDateUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockoutEnabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessFailedCount)
            </dd>
        


    </dl>*@
</div>