@model InspurOA.Models.UserCreateViewModel

@{
    ViewBag.Title = "修改用户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal form-md", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (ViewData["Roles"] != null)
        {
            var UserRoles = ViewData["Roles"] as List<SelectListItem>;

            <div class="form-group">
                @Html.LabelFor(m => m.RoleCode, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    <select name="RoleCode" id="RoleCode" class="form-control">
                        @foreach (var item in UserRoles)
                        {
                            if (item.Selected)
                            {
                                <option selected="selected" value="@item.Value">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="保存" class="btn btn-default form-control" />
            </div>
        </div>
    </div>
}
