@model RoleViewModel
@{
    ViewBag.Title = "添加角色";
}

<div class="row top-row">
    <div class="col-md-4 left" style="float:left;">
        <span class="caption">@ViewBag.Title</span>
    </div>
    <div class="col-md-8 right" style="float:right;">
        @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
<hr />

@using (Html.BeginForm("Create", "Role", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal form-md">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoleCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RoleDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (ViewData["Permissions"] != null)
            {
                var PermissionList = ViewData["Permissions"] as List<PermissionItemViewModel>;
                <div class="form-group">
                    @Html.LabelFor(model => model.Permissions, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 limit-div">
                        @Html.ValidationMessageFor(model => model.Permissions, "", new { @class = "text-danger" })
                        <table class="table-responsive">
                            @foreach (var item in PermissionList)
                            {
                                <tr>
                                    <td>
                                        @if (item.IsChecked)
                                        {
                                            <input type="checkbox" name="Permissions" checked="checked" value="@Html.DisplayFor(modelItem=>item.Permission.PermissionId)" />@Html.DisplayFor(modelItem => item.Permission.PermissionDescription)
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="Permissions" value="@Html.DisplayFor(modelItem=>item.Permission.PermissionId)" />@Html.DisplayFor(modelItem => item.Permission.PermissionDescription)
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }

        @*<div class="form-group">
            @Html.LabelFor(model => model.Permissions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 limit-div">
                @if (ViewBag.Permissions != null)
                {
                    @Html.ListBox("Permissions", ViewBag.Permissions as IEnumerable<SelectListItem>, new {@class="form-control", @multiple = "multiple" });
                }
            </div>
        </div>*@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="添加" class="btn btn-default form-control" />
            </div>
        </div>
    </div>
}
