@model IEnumerable<InspurOA.Identity.EntityFramework.InspurIdentityRole>

@{
    ViewBag.Title = "角色管理";
}

<div class="row top-row">
    <div class="col-md-4 left" style="float:left;">
        <span class="caption">@ViewBag.Title</span>
    </div>
    <div class="col-md-8 right" style="float:right;">
        @Html.ActionLink("添加角色", "Create", null, new { @class = "btn btn-primary" })
        <input class="btn btn-danger" name="BtnDelete" type="button" value="删除角色" />
    </div>
</div>
<hr />

<div class="subContainer">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr class="success">
                <th>
                    <input type="checkbox" name="CheckAll" />
                </th>
                <th>
                    角色代号
                </th>
                <th>
                    角色名称
                </th>
                <th>
                    角色描述
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="ID" value="@Html.DisplayFor(modelItem => item.RoleId)" />
                    </td>
                    <td data-type="content">
                        @Html.DisplayFor(modelItem => item.RoleCode)
                    </td>
                    <td data-type="content">
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td data-type="content">
                        @Html.DisplayFor(modelItem => item.RoleDescription)
                    </td>
                </tr>
            }
        </table>
        @Html.Partial("PagInation")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("td[data-type='content']").click(function () {
            var itemId = $("input[name='ID']", $(this).parent("tr")).val();
            window.location.href = "Role/Edit/" + itemId;
        });

        $("input[name='BtnDelete']").click(function () {
            var checkedList = $("input[name='ID']");
            var selectedIds = [];
            for (var i = 0; i < checkedList.length; i++) {
                if (checkedList[i].checked) {
                    selectedIds.push(checkedList[i].value);
                }
            }

            if (selectedIds.length > 0) {
                if (confirm("确认删除?")) {
                    $.ajax({
                        type: "post",
                        url: "../Role/Delete",
                        data: { 'ids': selectedIds },
                        dataType: "json",
                        success: function (result) {
                            location.reload();
                        },
                        error: function (ex) {
                            location.reload();
                            //alert(ex.responseText);
                        }
                    });
                }
            }
            else {
                alert("请选择要删除的列表项！");
            }
        });
    });
</script>
