@model InspurOA.Models.ProjectModel

@{
    ViewBag.Title = "修改项目信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row top-row">
    <div class="col-md-4 left" style="float:left;">
        <span class="caption">@ViewBag.Title</span>
    </div>
    <div class="col-md-8 right" style="float:right;">
        @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
<hr />

@using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { @class = "form-horizontal form-md", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "common-control col-md-8" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="保存" class="btn btn-default common-control col-md-8" />
            </div>
        </div>
    </div>
}
